<!-- maintenance_input_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance Report Input</title>
</head>
<body>
    <form id="maintenanceForm" method="post">
      
            {% csrf_token %}
            
        
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date"><br><br>
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date"><br><br>
        <input type="submit" value="Generate Report">
    </form>

    <div id="maintenanceResults"></div>

    <script>
        document.getElementById('maintenanceForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch('/maintenance_report/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById('maintenanceResults').innerHTML = data;
            });
        });
    </script>
</body>
</html>


